.about {
    
    background-color: $bgc;

    &__inner {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__title {
        margin-bottom: 65px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.about-content {
    padding: 10px;
}

.about-main {
    max-width: 536px;
    &__text {
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(30, 20);
        &:first-child {
            margin-bottom: 20px;
        }
    }

    &__list {
        margin-top: 10px;
    }

    &__item {
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(30, 20);
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}
