.about {
    
    background-color: $bgc;

    &__inner {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__title {
        margin-bottom: 65px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.about-content {
    padding: 10px;
}

.img-box {
    @include adaptiveValue("width", 550, 300);
    position: relative;
    z-index: 3;
    &::before {
        content: "";
        position: absolute;
        @include adaptiveValue("top", 20, 5);
        @include adaptiveValue("left", 20, 5);
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $orange;
    }
}

.about-main {
    max-width: 536px;
    &__text {
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(30, 20);
        &:first-child {
            margin-bottom: 20px;
        }
    }

    &__list {
        margin-top: 10px;
    }

    &__item {
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(30, 20);
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}
