.advantages {
    background-color: $bgc;
    overflow-x: hidden;
    &__inner {
        padding-bottom: 40px;
    }

    &__title {
        margin-bottom: 70px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        width: 392px;
        height: 117px;
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center left;
        margin-right: 6.5px;
        margin-left: 6.5px;
        margin-bottom: 60px;
        &:nth-child(1) {
            background-image: url(../svgicons/like.svg);
        }
        &:nth-child(2) {
            background-image: url(../svgicons/clock.svg);
        }
        &:nth-child(3) {
            background-image: url(../svgicons/quality.svg);
        }
        &:nth-child(4) {
            background-image: url(../svgicons/payment.svg);
        }
        &:nth-child(5) {
            background-image: url(../svgicons/medal.svg);
        }
        &:nth-child(6) {
            background-image: url(../svgicons/rocket.svg);
        }

        opacity: 0;
        will-change: transform;
        transform: scale(.6);
        transition: all .6s ease;
        &._active {
            opacity: 1;
            transform: scale(1)
        }
    }

    &__caption {
        font-weight: 600;
        @include adaptiveValue("font-size", 20, 18);
        line-height: math.div(30, 20);
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: 100px;
    }

    &__text {
        font-weight: 500;
        @include adaptiveValue("font-size", 16, 13);
        line-height: math.div(24, 16);
        max-width: 292px;
        //@include adaptiveValue("max-width", 292, 214);
    }
}