.company {
    background-color: $bgc;
    overflow-x: hidden;
    &__inner {
        padding-bottom: 100px;
        display: flex;
        align-items: center;
    }

    &__box {
        margin-right: 60px;
        opacity: 0;
        will-change: transform;
        transform: translateX(-150px);
        transition: all .6s ease;
        &._active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__content {
        max-width: 598px;
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(30, 20);
    }

    &__span {
        display: block;
        margin-bottom: 20px;
        transition: all .6s ease;
    }

    &__span, &__list {
        opacity: 0;
        will-change: transform;
        transform: translateY(50px);
        &._active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__list {
        margin-left: 20px;
        transition: all .7s ease;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
    &__group {
        &:last-child {
            span {
                margin-top: 30px;
            }
        }
    }
}
