.header {

	&__top {
		background-color: #516C81;
		padding: 28px 0px 28px 0px;
	}

	&__main {
		background-image: url(../images/header-bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		padding: 75px 0px 100px 0px;
	}
}

.header-top {

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	&__menu {
		padding: 0px 15px 0px 15px;
	}

	&__btn {
		display: flex;
		align-items: center;
		font-size: rem(14);
		line-height: math.div(17, 14);
		padding-top: 14px;
		padding-bottom: 14px;
		@include adaptiveValue("padding-left", 26.5, 15);
		@include adaptiveValue("padding-right", 26.5, 15);
	}
}

.header-main {

	&__wrapper {
		position: relative;
		padding-bottom: 105px;
	}

	&__caption {
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(30, 20);
		text-align: right;
		max-width: 360px;
		margin-left: auto;
		margin-bottom: 75px;
		text-transform: uppercase;

		transition: all .5s ease;
		will-change: transform;
		transform: translateX(200%);
		opacity: 0;
		&._active {
			transform: translateX(0px);
			opacity: 1;
		}
	}

	&__content {
		position: relative;
		max-width: 580px;
		margin: 0 auto;
		padding: 24px 24px 0px 0px;
		background-image: url(../images/triangle.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top right;

		transition: all .7s ease;
		will-change: transform;
		transform: translateY(-100%);
		opacity: 0;
		&._active {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	&__title {
		font-family: $fontFamilyTitle;
		font-size: rem(48);
		line-height: math.div(56, 48);
		font-weight: 400;
		text-align: right;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	&__subtitle {
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(30, 20);
		max-width: 360px;
		text-align: right;
		margin-left: auto;
		margin-bottom: 80px;
	}

	&__btn {
		display: flex;
		align-items: center;
		margin-left: auto;
		font-size: rem(16);
		line-height: math.div(20, 16);
		padding-top: 15px;
		padding-bottom: 15px;
		@include adaptiveValue("padding-left", 30, 15);
		@include adaptiveValue("padding-right", 30, 15);
	}

	&__span {
		margin-left: 10px;
		margin-top: 2px;
		&::before {
			font-size: rem(12);
		}
	}

	&__bottom {
		max-width: 310px;
		position: absolute;
		left: 0;
		bottom: 0;
		.header-main__subtitle {
			position: relative;
			margin-bottom: 20px;
			text-align: left;
			margin-left: 0;
			max-width: 260px;
			padding-bottom: 20px;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 5px;
				background-color: #fff;
				bottom: 0;
				left: 0;
			}
		}
		transition: all .5s ease;
		will-change: transform;
		transform: translateX(-200%);
		opacity: 0;
		&._active {
			transform: translateX(0px);
			opacity: 1;
		}
	}

	&__text {
		font-size: rem(14);
		line-height: math.div(21, 14);
		font-weight: 400;
	}
}


.menu {

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin-bottom: 5px;

		&:not(:last-child) {
			@include adaptiveValue("margin-right", 60, 0);
		}
	}

	&__link {
		white-space: nowrap;
		line-height: math.div(20, 16);
	}
}

.logo {
	&__img {
		@include adaptiveValue("max-width", 290, 180);
	}
}

.btn {
	border: 1px solid #FFFFFF;
	background-color: transparent;
	white-space: nowrap;
	color: inherit;
}

@media (max-width: 960px) {
	.header-top {
		&__container {
			justify-content: flex-start;
			position: relative;
		}
		&__logo {
			margin-right: auto;
		}
		&__menu {
			position: fixed;
            top: 100px;
			z-index: 4;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            //padding: 100px 30px 30px 30px;
            transition: left .3s ease 0s;
            overflow: auto;
			&--active {
				left: 0;
			}
		}
	}
}

.burger {
	display: none;
	@media (max-width: 960px) {
		display: block;
		margin-left: 20px;
		width: 30px;
		cursor: pointer;
		z-index: 5;
		&__span {
			will-change: transform;
			transition: transform .4s ease;
			display: block;
			width: 30px;
			height: 2px;
			background-color: #fff;
			border-radius: 4px;
			&:nth-child(2) {
				width: 20px;
				transition: transform .3s ease;
			}
			&:last-child {
				width: 10px;
				transition: width, transform .4s;
			}
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
	&--active {
		.burger__span {
			&:first-child {
				transform: translateY(7px) rotate(45deg);
			}
			&:nth-child(2) {
				transform: translateX(100px);
			}
			&:last-child {
				transform: translateY(-7px) rotate(-45deg);
				width: 100%;
			}
		}
	}
}

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/