.header {
	overflow-x: hidden;
	&__top {
		background-color: #516C81;
		@include adaptiveValue("padding-top", 28, 20);
		@include adaptiveValue("padding-bottom", 28, 20);
	}

	&__main {
		background-image: url(../images/header-bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		padding: 75px 0px 100px 0px;
		@include adaptiveValue("padding-top", 75, 32);
		@include adaptiveValue("padding-bottom", 100, 120);
	}
}

.header-top {

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	&__menu {
		padding: 0px 15px 0px 15px;
	}

	&__btn {
		display: flex;
		align-items: center;
		font-size: rem(14);
		line-height: math.div(17, 14);
		padding-top: 14px;
		padding-bottom: 14px;
		@include adaptiveValue("padding-left", 26.5, 8);
		@include adaptiveValue("padding-right", 26.5, 8);
	}
}

.header-main {

	&__wrapper {
		position: relative;
		padding-bottom: 105px;
	}

	&__caption {
		font-weight: 600;
		@include adaptiveValue("font-size", 20, 14);
		@include adaptiveValue("max-width", 360, 254);
		line-height: math.div(30, 20);
		text-align: right;
		max-width: 360px;
		margin-left: auto;
		@include adaptiveValue("margin-bottom", 75, 45);
		text-transform: uppercase;

		overflow-x: hidden;
		transition: all .5s ease;
		will-change: transform;
		transform: translateX(200%);
		opacity: 0;
		&._active {
			transform: translateX(0px);
			opacity: 1;
		}
	}

	&__content {
		position: relative;
		max-width: 580px;
		margin: 0 auto;
		padding: 24px 24px 0px 0px;
		background-image: url(../images/triangle.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top right;

		overflow-x: hidden;
		transition: all .7s ease;
		will-change: transform;
		transform: translateY(-100%);
		opacity: 0;
		&._active {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	&__title {
		font-family: $fontFamilyTitle;
		@include adaptiveValue("font-size", 48, 26);
		line-height: math.div(56, 48);
		font-weight: 400;
		text-align: right;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	&__subtitle {
		font-weight: 600;
		@include adaptiveValue("font-size", 20, 17);
		@include adaptiveValue("line-height", 30, 22);
		max-width: 360px;
		text-align: right;
		margin-left: auto;
		@include adaptiveValue("margin-bottom", 80, 30);
	}

	&__btn {
		display: flex;
		align-items: center;
		margin-left: auto;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(20, 16);
		padding-top: 15px;
		padding-bottom: 15px;
		@include adaptiveValue("padding-left", 30, 15);
		@include adaptiveValue("padding-right", 30, 15);
	}

	&__span {
		margin-left: 10px;
		margin-top: 2px;
		&::before {
			font-size: rem(12);
		}
	}

	&__bottom {
		max-width: 310px;
		position: absolute;
		left: 0;
		@include adaptiveValue("bottom", 0, -100);
		.header-main__subtitle {
			position: relative;
			@include adaptiveValue("margin-bottom", 20, 10);
			text-align: left;
			margin-left: 0;
			max-width: 260px;
			padding-bottom: 20px;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 5px;
				background-color: #fff;
				bottom: 0;
				left: 0;
			}
		}
		overflow-x: hidden;
		transition: all .5s ease;
		will-change: transform;
		transform: translateX(-200%);
		opacity: 0;
		&._active {
			transform: translateX(0px);
			opacity: 1;
		}
	}

	&__text {
		font-size: rem(14);
		line-height: math.div(21, 14);
		font-weight: 400;
	}
}


.menu {

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin-bottom: 5px;

		&:not(:last-child) {
			@include adaptiveValue("margin-right", 60, 0);
		}
	}

	&__link {
		white-space: nowrap;
		line-height: math.div(20, 16);
	}
}

.logo {
	&__img {
		@include adaptiveValue("max-width", 290, 200);
	}
}

.btn {
	border: 1px solid #FFFFFF;
	background-color: transparent;
	white-space: nowrap;
	color: inherit;
}

.burger-content {
	display: none;
	&__main {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
	&__btn {
		display: flex;
		margin: 0 auto;
		padding: 14px 20px;
		border: 1px solid $orange;
		span {
			margin-left: 10px;
			&::before {
				font-size: rem(12);
			}
		}
	}
	.menu {
		&__list {
			display: flex;
			flex-direction: column;
			margin-right: 15px;
			margin-left: 15px;
			margin-bottom: 40px;
		}
		&__item:not(:last-child) {
			margin-bottom: 20px;
		}
		&__link {
			font-size: rem(18);
			font-weight: 500;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 45%;
				height: 1.5px;
				background-color: $orange;
			}
		}
	}
	.contacts {
		&__list {
			margin-right: 15px;
			margin-left: 15px;
		}
		&__item:not(:last-child) {
			margin-bottom: 20px;
		}
		&__item:nth-child(2) {
			max-width: 200px;
			line-height: math.div(28, 18);
			&::before {
				margin-right: 12px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.header-top {
		&__container {
			justify-content: flex-start;
			position: relative;
		}
		&__logo {
			margin-right: auto;
		}
		&__menu {
			display: none;
		}
		&__btn {
			display: none;
		}
	}
	.burger-content {
		display: block;
		position: fixed;
		top: 85px;
		width: 100%;
		height: 100%;
		background-color: $darkBlue;
		z-index: 100;
		overflow: auto;
		left: -200%;
		transition: left .3s ease;
		padding: 50px 15px 150px 15px;
		&--active {
			left: 0;
		}
	}
}

.burger {
	display: none;
	@media (max-width: 1000px) {
		display: block;
		margin-left: 20px;
		width: 30px;
		cursor: pointer;
		z-index: 5;
		&__span {
			will-change: transform;
			transition: transform .4s ease;
			display: block;
			width: 30px;
			height: 2px;
			background-color: #fff;
			border-radius: 4px;
			&:nth-child(2) {
				width: 20px;
				transition: transform .3s ease;
			}
			&:last-child {
				width: 10px;
				transition: width, transform .4s;
			}
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
	&--active {
		.burger__span {
			&:first-child {
				transform: translateY(7px) rotate(45deg);
			}
			&:nth-child(2) {
				transform: translateX(100px);
			}
			&:last-child {
				transform: translateY(-7px) rotate(-45deg);
				width: 100%;
			}
		}
	}
}

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/