.how-we-work {
    overflow-x: hidden;
    position: relative;
    background-color: $bgc;
    &__inner {
        @include adaptiveValue("padding-bottom", 50, 30);
    }

    &__title {
        @include adaptiveValue("margin-bottom", 70, 50);
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-content: center;
    }

    &__item {
        width: 307px;
        @include adaptiveValue("width", 307, 218);
        height: 203px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        @include adaptiveValue("margin-bottom", 50, 20);

        opacity: 0;
        will-change: transform;
        transform: translateY(-100px);
        transition: all .6s ease;
        &._active {
            opacity: 1;
            transform: translateX(0);
        }
        &:nth-child(2) {
            transition: all .8s ease;
        }
        &:nth-child(3) {
            transition: all 1s ease;
        }
        &:nth-child(4) {
            transition: all 1.2s ease;
        }
    }

    &__subcontent {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        align-items: center;
    }

    &__svg {
        margin-bottom: 25px;
        @include adaptiveValue("width", 50, 30);
        @include adaptiveValue("height", 50, 30);
    }

    &__span {
        display: block;
        margin-top: 15px;
        font-family: $fontFamilyTitle;
        @include adaptiveValue("font-size", 36, 28);
        line-height: math.div(54, 36);
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    &__subtitle {
        font-weight: 600;
        @include adaptiveValue("font-size", 20, 14);
        line-height: math.div(30, 20);
    }

    &__text {
        max-width: 218px;
        @include adaptiveValue("font-size", 16, 13);
        line-height: math.div(24, 16);
    }
    &__item {
        .horizontal-line {
            position: relative;
            width: 100%;
            height: 1px;
            background-color: #fff;
            margin-bottom: 17px;
            &::after, &::before {
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: inherit;
                transform: rotate(45deg);
                bottom: -1px;
            }
            &::after {
                left: 0;
            }
            &::before {
                right: 0;
            }
        }
    }
    &__item:last-child {
        .horizontal-line::before {
            display: none;
        }
    }
}

.vertical-line {
    position: relative;
    height: 69px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    &::after, &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: inherit;
        transform: rotate(45deg);
        left: -1.5px;
    }
    &::after {
        top: -4.8px;
    }
    &::before {
        bottom: -4.8px;
    }
}
