.jimenergy-map {
    overflow: hidden;
    background-color: $darkBlue;
    &__inner {
        position: relative;
    }
    &__content {
        background-color: $darkBlue;
        position: absolute;
        padding-top: 30px;
        padding-bottom: 30px;
        @include adaptiveValue("padding-left", 50, 0);
        @include adaptiveValue("padding-right", 50, 0);

        opacity: 0;
        right: -60px;
        bottom: -60px;
        transition: all .6s ease;
        &._active {
            opacity: 1;
            right: 20px;
            bottom: 20px;
        }
        @media (max-width: 750px) {
            position: static;
        }
    }
}


.form-jimenergy {

    &__legend {
        font-size: 36px;
        @include adaptiveValue("font-size", 36, 30);
        opacity: 1;
        transform: translate(0, 0);
        margin-bottom: 30px;
        @media (max-width: 750px) {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__input {
        margin-bottom: 30px;
        @include adaptiveValue("margin-bottom", 30, 20);
        background-color: transparent;
        border: 1px solid #fff;
        padding: 12px;
        color: #fff;
        &:-webkit-autofill {
            transition: all 5000s ease-in-out;
        }
    }

    &__textarea {
        resize: none;
        margin-bottom: 40px;
        background-color: transparent;
        border: 1px solid #fff;
        padding: 12px;
        height: 100px;
        color: #fff;
    }

    &__label {
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(16, 14);
        color: #fff;
        cursor: text;
        will-change: transform;
        transition: all .4s ease;
        transform: translate(12px, 30px);
        &.active {
            transform: translate(0px, -3px);
            color: $orange;
            //font-weight: 600;
        }
    }

    &__btn {
        padding: 8px 15px;
        display: flex;
        @media (max-width: 750px) {
            margin: 0 auto;
        }
    }

    &__span {
        margin-left: 5px;
        &::before {
            font-size: rem(12);
        }
    }
}