.partners {
    color: $bgc;
    overflow-x: hidden;
    &__inner {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }

    &__span {
        font-weight: 600;
        font-size: rem(18);
        line-height: math.div(26, 18);
        text-align: right;
        
        opacity: 0;
        will-change: transform;
        transform: translateX(50px);
        transition: all .6s ease;
        &._active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 60px;

        opacity: 0;
        will-change: transform;
        transform: scale(.6);
        transition: all .6s ease;
        &._active {
            opacity: 1;
            transform: scale(1);
        }
    }
}