html,
body {
    height: 100%;
}

body {
    color: $mainColor;
    line-height: 1;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: 500;
    overflow-x: hidden;
}

._lock {
    overflow: hidden;
    touch-action: none;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

@if ($responsiveType==1) {

    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }

        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
}

@else {

    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;

        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        }

        @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }

        @media (max-width: $pc) {
            max-width: rem(970);
        }

        @media (max-width: $tablet) {
            max-width: rem(750);
        }

        @media (max-width: $mobile) {
            max-width: none;

            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

.big-title {
    font-family: $fontFamilyTitle;
    @include adaptiveValue("font-size", 48, 38);
    line-height: math.div(56, 48);
    text-transform: uppercase;
    opacity: 0;
    will-change: transform;
    transform: translateX(-50px);
    transition: all .6s ease;

    &._active {
        opacity: 1;
        transform: translateX(0);
    }
}

.title {
    font-family: $fontFamilyTitle;
    @include adaptiveValue("font-size", 36, 30);
    line-height: math.div(54, 36);
    letter-spacing: 0.05em;

    opacity: 0;
    will-change: transform;
    transform: translateX(-50px);
    transition: all .6s ease;
    &._active {
        opacity: 1;
        transform: translateX(0);
    }
}

.img-box {
    position: relative;
    z-index: 3;
    &::before {
        content: "";
        position: absolute;
        @include adaptiveValue("top", 20, 5);
        @include adaptiveValue("left", 20, 5);
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $orange;
    }
}

._pc {
    // focus
    .menu__link:focus,
    .logo__link:focus,
    .catalog__link:focus,
    .catalog-footer__link:focus,
    .contacts-footer__link:focus {
        outline: 1px solid $orange;
    }
    .catalog__link:hover {
        outline: none;
    }
    .btn:focus {
        border: 1px solid $orange;
    }
    .header-main__btn:focus {
        border: 1px solid $darkBlue;
    }

    // hover
    .menu__link, .catalog-footer__link, .contacts-footer__link {
        transition: color .4s ease;
        &:hover {
            color: $orange;
        }
    }

    .btn {
        transition: transform .4s ease;
        will-change: transform;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.btn {
    span {
        transition: transform .3s ease;
    }
}

.burger-content__btn:active,
.contacts-footer__btn:active,
.header-main__btn:active,
.form-jimenergy__btn:active,
.read-more:active,
.header-top__btn:active {
    border: 1px solid #fff !important;
    span {
        transform: translateX(10px);
    }
}

.our-projects__btn:active {
    border: 1px solid #fff !important;
    span {
        transform: translateY(10px);
    }
}

a:active {
    outline: none !important;
}

@media (max-width: 900px) {
    .about-content__box {
        display: none;
    }
    .about__title {
        text-align: center;
    }

    .about-content__main {
        margin: 0 auto !important;
        text-align: center;
    }

    .about-content {
        padding: 0;
    }
}